<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Epub player
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Epub player</ion-title>
    </ion-toolbar>
  </ion-header>
  <div  style="height:100vh;width:100%;">
    <sunbird-epub-player [playerConfig]="playerConfig" (playerEvent)="playerEvents($event)"
      (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-epub-player>
  </div>
</ion-content>
